.navbar{
     background-color: #ff6b81;
      
}
h4 {
    color: #ff6b81; 
}
.navbar-toggler{
    border-color:#fff;
    float:right;
    overflow-x: hidden;
}
.navbar-toggler-icon{
    border-color:#fff;
}
.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
i{
    color: #ff6b81;  
}
.navbar-brand{
    color:#fff;
    padding-left:40px;
}
.navbar ul>li>a{
    color:#fff;
}
#abt{
    margin-top:70px;
    margin-bottom: 80px;
 
}
#service{
    background-color: #f9f9f9;
    margin-top:70px;
    margin-bottom: 80px;
    padding:20px;
}
#contact{
    background-color: #f9f9f9;
    margin-top:70px;
    margin-bottom: 80px;
    padding:20px;
}
#foot{
    background-color: #081828;
    padding: 30px;
}
#foot p, ul ,li{
    color:#fff;
}